.bg--text {
    z-index: 2;
    position: absolute;
    color: #00000012;
    font-size: 4rem;
    font-weight: 500;
    font-family: $font-family;
    top: 8%;
    left: 39%;

    @include respond(sm){
      display: none;
    }
  }